@import "../_variables";

.t-HeroRegion-title {
  font-weight: 700;
}

/* Responsive Styles
   ========================================================================== */
@media only screen and (max-width: 640px) {
  .t-HeroRegion-title {
    font-weight: 600;
  }
}


.t-HeroRegion-icon {
  &.fa.fa-lg {
    font-weight: 700;
  }
}
