@import "../_variables";

.t-Region-header {
  font-weight: 600;
}

.t-Region-body > .container {
  // overflow: visible;
}

// Carousel
.a-Tabs-previous-region.a-Tabs-button {
  align-items: center;

  .a-Icon {
    margin: auto;
  }
}
