@import "../_variables";

code,
pre {
  font-family: @g_FontFamily-mono;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}


// Spinner
.u-Processing {
  backdrop-filter: none;
  background-color: transparent;
}

.u-Processing-spinner {
  border-color: rgba(44, 41, 38, .15);
  border-top-color: rgba(44, 41, 38, 1);
}
