@import "../_variables";

.t-Footer {
  background-color: @g_neutral-170;
  color: fade(@g_neutral-10, 60%);
  border-top: none;
  position: relative;
  padding: 56px 20px 44px;

  &:before {
    background-image: url(../../../../images/rw/footer-top-bg.png);
    background-size: auto 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    content: '';
  }

  a {
    color: @g_neutral-10;
  }
}

.t-Footer-apex {
  line-height: inherit;
  font-size: inherit;
}

.u-BuiltWithAPEX {
  display: inline;

  .fa-heart {
    color: @g_red-100;
    font-size: 20px;
    margin: -2px 4px;
    vertical-align: text-top;
    display: inline-block;
  }

  &:hover {
    .fa-heart {
      color: @g_red-100;
    }
  }
}

a.t-Footer-topButton {
  background-color: @g_neutral-10;
  color: @g_neutral-10;
  opacity: 1;
  padding: 10px;
  width: 44px;
  height: 44px;
  box-shadow: none !important;

  &:hover {
    opacity: .8;
  }

  .a-Icon {
    font-size: 24px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    color: @g_neutral-190;

    &:before {
      font-size: inherit;
    }
  }
}
