@import "_variables";

.t-Completeness {
  background-color: @_base-bg-alpha-13;
  box-shadow: 0 0 0 1px @_base-alpha-4 inset;
}

a.t-Completeness:hover {
  .t-Completeness-labelWrap {
    background-color: @_base-alpha-7;
  }

  .t-Completeness-label {
    background-color: @_base-bg-alpha-13;
  }
}

.t-Completeness-fill {
  box-shadow: 0 0 0 1px @_base-alpha-5 inset;
}

.t-Completeness-label {
  background-color: @_base-bg-alpha-11;
  color: @_base-alpha-11;
}
