/**
 * Import Compass
 */

@import "_variables";

/* ==========================================================================
   Login Page + Region
   ========================================================================== */
.t-PageBody--login {
  background-color: mix(@_base, @_base-bg, 12%);
}

.t-LoginPage--bg1,
.t-LoginPage--bg2,
.t-LoginPage--bg3 {
  background-color: @g_Accent-BG;
}

// .t-LoginPage--bg1 {
//   background-image: url(../../../images/backgrounds/stripes.svg);
//   background-size: cover;
//   background-position: right bottom;
//   background-repeat: no-repeat;
//   background-color: @g_Accent-BG;

//   &.apex-theme-vita-dark {
//     background-image: url(../../../images/backgrounds/stripes-dark.svg);
//   }
// }

// .t-LoginPage--bg2 {
//   background-image: url(../../../images/backgrounds/radar.svg);
//   background-size: cover;
//   background-position: right bottom;
//   background-repeat: no-repeat;
//   background-color: @g_Accent-BG;

//   &.apex-theme-vita-dark {
//     background-image: url(../../../images/backgrounds/radar-dark.svg);
//   }
// }

// .t-LoginPage--bg3 {
//   background-image: url(../../../images/backgrounds/circles.svg);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-color: @g_Accent-BG;

//   &.apex-theme-vita-dark {
//     background-image: url(../../../images/backgrounds/circles-dark.svg);
//   }
// }

// Temp
.app-icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: @g_Accent-BG;
}


.t-Login-iconValidation {
  background-color: @g_Success-BG;
  color: @_base-bg;
}







.t-Login-region {
  background-color: @_base-bg-alpha-10;
  //background-image: linear-gradient(225deg, @_base-bg-alpha-10 0%, @_base-bg-alpha-0 100%);
  box-shadow: 0 8px 24px -4px @_base-shadow-6, 0 0 0 1px @_base-alpha-4;
}




.t-LoginPage--split {
  .t-Login-container {
    background-color: @_base-bg-alpha-10;
    // background-image: linear-gradient(225deg, @_base-bg-alpha-10 0%, @_base-bg-alpha-0 100%);
    box-shadow: 0 0 24px -4px @_base-shadow-6, 0 0 0 1px @_base-alpha-4;
  }
}
