/** Import Compass */
/* Margins ========================================================================== */
/* Paddings ========================================================================== */
/* Directions ========================================================================== */
/* Floats ========================================================================== */
/* Text Alignment ========================================================================== */
/* Transforms ========================================================================== */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Interactive Style Overrides in Universal Theme ========================================================================== */
/* Handle Buttons when in Interactive Grid ========================================================================== */
.a-GV-cell .t-Button { overflow: hidden; text-overflow: ellipsis; }

.a-GV-footer { height: auto; min-height: 32px; }

.a-IG-recordView .u-Form-fieldContainer .t-Button--helpButton { padding: 4px; vertical-align: top; }

.a-GV-table tr.is-deleted .a-GV-cell.has-button { opacity: 1; }
