@import "_variables";

.t-StatusList-blockHeader {
  // .text-dark();
  color: fade(contrast(@g_Region-BG, desaturate(darken(@g_Region-BG,  85%), 100%), desaturate(lighten(@g_Region-BG,  85%), 50%)), 100%);
  background-color: @g_Region-Header-BG;

  border-bottom-color: @_base-alpha-2;
  border-top-color: @_base-alpha-2;
}

.t-StatusList-headerTextAlt,
.t-StatusList-attr,
.t-StatusList-textDesc {
  color: fade(contrast(@g_Region-BG, desaturate(darken(@g_Region-BG,  55%), 100%), desaturate(lighten(@g_Region-BG,  55%), 50%)), 100%);
  // .text-normal();
}

.t-StatusList-itemTitle {
  color: fade(contrast(@g_Region-BG, desaturate(darken(@g_Region-BG,  85%), 100%), desaturate(lighten(@g_Region-BG,  85%), 50%)), 100%);
  // .text-dark();
}

.t-StatusList--dates {
  .t-StatusList-marker {
    color: @_base-alpha-9;
    border-radius: 2px;
    background-color: @_base-bg-alpha-13;
    box-shadow: 0 0 0 1px @_base-alpha-4 inset;

    &:after {
      background-color: @_base-alpha-6;
      border-radius: 2px 2px 0 0;
    }
  }

  .t-StatusList-item.is-null {
    .t-StatusList-marker {
      box-shadow: 0 0 0 1px @_base-alpha-2 inset;
    }
  }
}

.t-StatusList--bullets {
  .t-StatusList-marker {
    border-radius: 24px;
    background-color: #fff;
    color: #404040;
    border-color: @_base-alpha-5;
  }

  .t-StatusList-item.is-complete .t-StatusList-marker {
    background-color: #707070;
  }

  .t-StatusList-item.is-danger .t-StatusList-marker,
  .t-StatusList-item.is-error .t-StatusList-marker {
    background-color: #ff3b30;
  }

  .t-StatusList-item.is-open .t-StatusList-marker {
    background-color: #4cd964;
  }

  .t-StatusList-item.is-warning .t-StatusList-marker {
    background-color: #ffcc00;
  }

  .t-StatusList-item.is-null {
    .t-StatusList-marker {
      background-color: @_base-alpha-12;
      color: @_base-bg-alpha-11;
      box-shadow: 0 0 0 1px @_base-alpha-2 inset;
    }
  }
}

.t-StatusList-itemIcon {
  color: @_base-alpha-8;
  box-shadow: 0 0 0 @_base-alpha-6 inset;
  background-color: @_base-bg-alpha-13;
}
