@import "_variables";

.t-Timeline {
  color: @g_Region-FG;
}

.t-Timeline-item {
  border-bottom-color: @_base-alpha-4;
  // background-color: @g_Region-BG;
}

.t-Timeline-username,
.t-Timeline-date,
.t-Timeline-desc {
  color: @g_Region-FG-Light;
}

.t-Timeline-avatar {
  background-color: @g_Accent-BG;
  color: @g_Accent-FG;
}

.t-Timeline-wrap {
  color: @g_Region-FG;
}

a.t-Timeline-wrap {

  &:hover,
  &:focus {
    background-color: @_base-alpha-2;
    box-shadow: 0 8px 8px -4px @_base-shadow-2, 0 2px 8px -2px @_base-shadow-4;
  }
}

.t-Timeline-type {
  background-color: darken(@g_Region-Header-BG, 4%);
  color: @g_Region-Header-FG;
}

.t-Timeline-type.is-new {
  background-color: @g_Success-BG;
  color: #FFF;
}

.t-Timeline-type.is-updated {
  background-color: @g_Info-BG;
  color: #FFF;
}

.t-Timeline-type.is-removed {
  background-color: @g_Danger-BG;
  color: #FFF;
}

.t-Timeline-wrap:focus {
  outline: none;
  box-shadow: 0 0 0 1px @g_Focus inset;
}

.t-Timeline + .t-Report-pagination {
  border-top-color: @_base-alpha-4;
}
