<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Saved on Tue Jan 21 07:19:32 UTC 2025</comment>
<entry key="database.api.enabled">true</entry>
<entry key="standalone.doc.root">/etc/ords/config/global/doc_root</entry>
<entry key="standalone.http.port">8080</entry>
<entry key="standalone.static.path">/opt/oracle/apex/images</entry>
</properties>
