@import "../vita/_variables";

@display-xxs: 480px;
@display-xss: 640px;
@display-xs: 768px;
@display-small: 992px;
@display-medium: 1200px;
@display-large: 1920px;

// Redwood Fonts
@g_FontFamily-base: ~ "'Oracle Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
@g_FontFamily-serif: ~ "Georgia, Times, 'Times New Roman', serif";
@g_FontFamily-mono: ~ "SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace";

// Redwood Light Colors (August 3rd, 2020)

// Base
@white: #fff;
@black: #000;

// Brand Colors


// Neutral
@g_neutral-0: @white;
@g_neutral-10: #FBF9F8;
@g_neutral-20: #F5F4F2;
@g_neutral-30: #F1EFED;
@g_neutral-40: #e4e1dd;
@g_neutral-50: #d4cfca;
@g_neutral-60: #bcb6b1;
@g_neutral-70: #aea8a2;
@g_neutral-80: #9e9892;
@g_neutral-90: #8b8580;
@g_neutral-100: #7a736e;
@g_neutral-110: #6f6964;
@g_neutral-120: #665f5b;
@g_neutral-130: #5c5651;
@g_neutral-140: #514c47;
@g_neutral-150: #47423e;
@g_neutral-160: #3a3632;
@g_neutral-170: #312D2A;
@g_neutral-180: #201E1C;
@g_neutral-190: #161513;
@g_neutral-200: @black;

// Oracle Red
@g_oraclered-0: @white;
@g_oraclered-10: #fff8f7;
@g_oraclered-20: #ffebe8;
@g_oraclered-30: #ffdfdb;
@g_oraclered-40: #fcd0ca;
@g_oraclered-50: #f7bfb8;
@g_oraclered-60: #eea59c;
@g_oraclered-70: #e58c81;
@g_oraclered-80: #de7a6d;
@g_oraclered-90: #d66959;
@g_oraclered-100: #ca4d3c;
@g_oraclered-110: #bd4332;
@g_oraclered-120: #ac3e2e;
@g_oraclered-130: #9b382a;
@g_oraclered-140: #863125;
@g_oraclered-150: #742a20;
@g_oraclered-160: #60231a;
@g_oraclered-170: #491b14;
@g_oraclered-180: #38140f;
@g_oraclered-190: #270e0b;
@g_oraclered-200: @black;

// Brand Light
@g_brandlight-0: @white;
@g_brandlight-10: #F7FCF3;
@g_brandlight-20: #EDF8E6;
@g_brandlight-30: #E5F4DC;
@g_brandlight-40: #D0EAC1;
@g_brandlight-50: #BDD9AE;
@g_brandlight-60: #A3C194;
@g_brandlight-70: #94B382;
@g_brandlight-80: #82A372;
@g_brandlight-90: #6F915D;
@g_brandlight-100: #5F7D4F;
@g_brandlight-110: #577346;
@g_brandlight-120: #4F693F;
@g_brandlight-130: #465F38;
@g_brandlight-140: #3D5431;
@g_brandlight-150: #35482A;
@g_brandlight-160: #2B3A21;
@g_brandlight-170: #25331D;
@g_brandlight-180: #192315;
@g_brandlight-190: #12170D;
@g_brandlight-200: @black;

// Brand Dark
@g_branddark-0: @white;
@g_branddark-10: #FEF9E9;
@g_branddark-20: #FDF4DF;
@g_branddark-30: #FCEFCB;
@g_branddark-40: #F7E0A1;
@g_branddark-50: #F0CC71;
@g_branddark-60: #D5B364;
@g_branddark-70: #C7A55D;
@g_branddark-80: #B39554;
@g_branddark-90: #9D8249;
@g_branddark-100: #89723F;
@g_branddark-110: #7C6738;
@g_branddark-120: #715E34;
@g_branddark-130: #66552F;
@g_branddark-140: #5B4A29;
@g_branddark-150: #4F4224;
@g_branddark-160: #40361D;
@g_branddark-170: #372C18;
@g_branddark-180: #241E10;
@g_branddark-190: #18160A;
@g_branddark-200: @black;

// Pillers

// Beige
@g_beige-0: @white;
@g_beige-10: #FBF9F3;
@g_beige-20: #F8F4EA;
@g_beige-30: #F4EFE1;
@g_beige-40: #E9E1CA;
@g_beige-50: #D8D0B5;
@g_beige-60: #C0B89D;
@g_beige-70: #B2AA91;
@g_beige-80: #A09984;
@g_beige-90: #8B8673;
@g_beige-100: #7A7464;
@g_beige-110: #6E6A5A;
@g_beige-120: #656151;
@g_beige-130: #5B5748;
@g_beige-140: #514D40;
@g_beige-150: #464237;
@g_beige-160: #3A372D;
@g_beige-170: #302E26;
@g_beige-180: #211F1B;
@g_beige-190: #171512;
@g_beige-200: @black;

// Fog
@g_fog-0: @white;
@g_fog-10: #F5FBFB;
@g_fog-20: #E9F7F7;
@g_fog-30: #E2F3F3;
@g_fog-40: #D4E5EB;
@g_fog-50: #BFD3DC;
@g_fog-60: #A2BCC6;
@g_fog-70: #92AEB9;
@g_fog-80: #7D9FAA;
@g_fog-90: #698C99;
@g_fog-100: #587B86;
@g_fog-110: #4C707B;
@g_fog-120: #446672;
@g_fog-130: #3B5C69;
@g_fog-140: #32515E;
@g_fog-150: #2C4752;
@g_fog-160: #243A43;
@g_fog-170: #1E3138;
@g_fog-180: #142126;
@g_fog-190: #0D171A;
@g_fog-200: @black;

// Lilac
@g_lilac-0: @white;
@g_lilac-10: #F8F9FF;
@g_lilac-20: #F2F4FE;
@g_lilac-30: #EBEFFE;
@g_lilac-40: #DBE1F5;
@g_lilac-50: #C6CFEB;
@g_lilac-60: #ADB6D2;
@g_lilac-70: #A0A9C5;
@g_lilac-80: #8F98B7;
@g_lilac-90: #7C85A4;
@g_lilac-100: #6B7494;
@g_lilac-110: #606988;
@g_lilac-120: #585F80;
@g_lilac-130: #4F5573;
@g_lilac-140: #464C68;
@g_lilac-150: #3C425B;
@g_lilac-160: #30364C;
@g_lilac-170: #2A2D3F;
@g_lilac-180: #1B1F2B;
@g_lilac-190: #13151D;
@g_lilac-200: @black;

// Ocean
@g_ocean-0: @white;
@g_ocean-10: #F5FAFC;
@g_ocean-20: #EDF6F9;
@g_ocean-30: #E7F2F5;
@g_ocean-40: #D0E5ED;
@g_ocean-50: #B5D5E0;
@g_ocean-60: #94BFCE;
@g_ocean-70: #81B2C3;
@g_ocean-80: #6BA1B6;
@g_ocean-90: #558EA4;
@g_ocean-100: #437C94;
@g_ocean-110: #3B7087;
@g_ocean-120: #36677D;
@g_ocean-130: #325C72;
@g_ocean-140: #2C5266;
@g_ocean-150: #264759;
@g_ocean-160: #1F3A4B;
@g_ocean-170: #1A2F3F;
@g_ocean-180: #13212C;
@g_ocean-190: #0B171F;
@g_ocean-200: @black;

// Pebble
@g_pebble-0: @white;
@g_pebble-10: #f6faff;
@g_pebble-20: #eef5ff;
@g_pebble-30: #e7f0fd;
@g_pebble-40: #dae2ef;
@g_pebble-50: #c8d0dd;
@g_pebble-60: #b0b8c4;
@g_pebble-70: #a2aab6;
@g_pebble-80: #9299a6;
@g_pebble-90: #808792;
@g_pebble-100: #6f757e;
@g_pebble-110: #646a73;
@g_pebble-120: #5c6169;
@g_pebble-130: #53575f;
@g_pebble-140: #494d53;
@g_pebble-150: #3f4248;
@g_pebble-160: #34363b;
@g_pebble-170: #2b2e32;
@g_pebble-180: #1e1f22;
@g_pebble-190: #151617;
@g_pebble-200: @black;

// Pine
@g_pine-0: @white;
@g_pine-10: #f3FCF7;
@g_pine-20: #E9F9EE;
@g_pine-30: #E0F5E7;
@g_pine-40: #cBE9D6;
@g_pine-50: #b7D9C2;
@g_pine-60: #99C2A6;
@g_pine-70: #86B596;
@g_pine-80: #74A683;
@g_pine-90: #5C926D;
@g_pine-100: #4C825C;
@g_pine-110: #467553;
@g_pine-120: #3F6B4B;
@g_pine-130: #3A6145;
@g_pine-140: #33553c;
@g_pine-150: #2C4A35;
@g_pine-160: #253D2C;
@g_pine-170: #1e3224;
@g_pine-180: #132318;
@g_pine-190: #0D170F;
@g_pine-200: @black;

// Plum
@g_plum-0: @white;
@g_plum-10: #FCF8FF;
@g_plum-20: #F8F1FC;
@g_plum-30: #F5ECFB;
@g_plum-40: #EADDF4;
@g_plum-50: #DBC9E5;
@g_plum-60: #C4B0D1;
@g_plum-70: #B7A1C4;
@g_plum-80: #A890B6;
@g_plum-90: #957CA4;
@g_plum-100: #846A92;
@g_plum-110: #796087;
@g_plum-120: #6F577B;
@g_plum-130: #634E71;
@g_plum-140: #594564;
@g_plum-150: #4D3C57;
@g_plum-160: #3F3048;
@g_plum-170: #36293C;
@g_plum-180: #241B29;
@g_plum-190: #19131C;
@g_plum-200: @black;

// Rose
@g_rose-0: @white;
@g_rose-10: #FDF8FA;
@g_rose-20: #FAF2F4;
@g_rose-30: #FBECEF;
@g_rose-40: #F6DAE1;
@g_rose-50: #EAC6CF;
@g_rose-60: #D9ABB6;
@g_rose-70: #CE9BA7;
@g_rose-80: #C28897;
@g_rose-90: #B47282;
@g_rose-100: #A36472;
@g_rose-110: #925865;
@g_rose-120: #86505C;
@g_rose-130: #7A4753;
@g_rose-140: #6C3F49;
@g_rose-150: #5F363F;
@g_rose-160: #4F2B33;
@g_rose-170: #41242B;
@g_rose-180: #2D191D;
@g_rose-190: #201214;
@g_rose-200: @black;

// Sienna
@g_sienna-0: @white;
@g_sienna-10: #FEF9F2;
@g_sienna-20: #FDF3E4;
@g_sienna-30: #FCEDD9;
@g_sienna-40: #F5DEBD;
@g_sienna-50: #ECCB98;
@g_sienna-60: #DEB068;
@g_sienna-70: #D39F5D;
@g_sienna-80: #C58C52;
@g_sienna-90: #B67745;
@g_sienna-100: #AA643B;
@g_sienna-110: #9B5734;
@g_sienna-120: #8D4F2E;
@g_sienna-130: #7F482C;
@g_sienna-140: #713F25;
@g_sienna-150: #62371F;
@g_sienna-160: #512C1B;
@g_sienna-170: #442616;
@g_sienna-180: #2F1A0F;
@g_sienna-190: #20130A;
@g_sienna-200: @black;

// Slate
@g_slate-0: @white;
@g_slate-10: #F6FAFA;
@g_slate-20: #EDF6F6;
@g_slate-30: #E7F2F2;
@g_slate-40: #D7E5E5;
@g_slate-50: #C2D4D4;
@g_slate-60: #A9BBBC;
@g_slate-70: #99ADAE;
@g_slate-80: #8B9D9E;
@g_slate-90: #798B8A;
@g_slate-100: #697778;
@g_slate-110: #606C6D;
@g_slate-120: #586363;
@g_slate-130: #4F5A5A;
@g_slate-140: #464F4F;
@g_slate-150: #3C4545;
@g_slate-160: #323939;
@g_slate-170: #2A2F2F;
@g_slate-180: #1C2020;
@g_slate-190: #131515;
@g_slate-200: @black;

// Teal
@g_teal-0: @white;
@g_teal-10: #F8FAFA;
@g_teal-20: #F0F6F5;
@g_teal-30: #E8F1F0;
@g_teal-40: #D6E5E5;
@g_teal-50: #BCD5D5;
@g_teal-60: #9ABFBF;
@g_teal-70: #89B2B0;
@g_teal-80: #76A2A0;
@g_teal-90: #628F8D;
@g_teal-100: #4F7D7B;
@g_teal-110: #467173;
@g_teal-120: #3E686C;
@g_teal-130: #375D61;
@g_teal-140: #315357;
@g_teal-150: #2B484B;
@g_teal-160: #233B3F;
@g_teal-170: #1E3133;
@g_teal-180: #132123;
@g_teal-190: #0D1718;
@g_teal-200: @black;

// Alert Colors

// Blue (Info)
@g_blue-0: @white;
@g_blue-10: #f6fafc;
@g_blue-20: #edf6f9;
@g_blue-30: #e4f1f7;
@g_blue-40: #d0e5ee;
@g_blue-50: #b4d5e1;
@g_blue-60: #8fbfd0;
@g_blue-70: #79b1c6;
@g_blue-80: #5fa2ba;
@g_blue-90: #4190AC;
@g_blue-100: #227e9e;
@g_blue-110: #0e7295;
@g_blue-120: #00688c;
@g_blue-130: #025e7e;
@g_blue-140: #04536f;
@g_blue-150: #06485f;
@g_blue-160: #063c4e;
@g_blue-170: #053242;
@g_blue-180: #04232d;
@g_blue-190: #02181f;
@g_blue-200: @black;

// Red (Danger)
@g_red-0: @white;
@g_red-10: #fff8f7;
@g_red-20: #fff1ef;
@g_red-30: #ffebe8;
@g_red-40: #ffd9d3;
@g_red-50: #FFC1B8;
@g_red-60: #ff9d90;
@g_red-70: #ff8675;
@g_red-80: #fe6954;
@g_red-90: #ec4f3a;
@g_red-100: #d63b25;
@g_red-110: #c33522;
@g_red-120: #b3311f;
@g_red-130: #a22c1c;
@g_red-140: #8f2719;
@g_red-150: #7c2216;
@g_red-160: #661c12;
@g_red-170: #56180f;
@g_red-180: #3c110b;
@g_red-190: #2a0c07;
@g_red-200: @black;

// Orange (Warning)
@g_orange-0: @white;
@g_orange-10: #fef9f2;
@g_orange-20: #fdf2e5;
@g_orange-30: #fceddc;
@g_orange-40: #f9ddbc;
@g_orange-50: #f6c792;
@g_orange-60: #f0a957;
@g_orange-70: #eb9632;
@g_orange-80: #E18212;
@g_orange-90: #c6710e;
@g_orange-100: #ac630c;
@g_orange-110: #9c590b;
@g_orange-120: #8f520a;
@g_orange-130: #814909;
@g_orange-140: #724108;
@g_orange-150: #633807;
@g_orange-160: #512f06;
@g_orange-170: #452705;
@g_orange-180: #2e1a03;
@g_orange-190: #201202;
@g_orange-200: @black;

// Green (Success)
@g_green-0: @white;
@g_green-10: #f4fceb;
@g_green-20: #ebf8de;
@g_green-30: #e4f5d3;
@g_green-40: #cfebb3;
@g_green-50: #b1dd88;
@g_green-60: #8ac94f;
@g_green-70: #7dba45;
@g_green-80: #6fa939;
@g_green-90: #5e942b;
@g_green-100: #508223;
@g_green-110: #497620;
@g_green-120: #436b1d;
@g_green-130: #3c601a;
@g_green-140: #355617;
@g_green-150: #2e4914;
@g_green-160: #263d10;
@g_green-170: #1f330e;
@g_green-180: #152309;
@g_green-190: #0f1706;
@g_green-200: @black;


// Light UI Colors
@g_oracle-red: #C74634;
@g_brand: @g_green-100;
@g_brand-fg: @g_green-0;
@g_brown: @g_neutral-170;
@g_brown-fg: @g_neutral-0;
@g_link: @g_beige-120;
@g_link-fg: @g_beige-0;

// Outline Styles
@g_OutlineWidth: 2px;
@g_OutlineStyle: dotted;
@g_OutlineOffset: 2px;
@g_OutlineColor: @g_green-100;

// Theme Roller Variables
@g_Container-BorderRadius: 6px;
@g_Accent-BG: @g_neutral-150;
@g_Accent-OG: @g_neutral-30;
@g_Link-Base: @g_blue-120;
@g_Focus: @g_green-100;
@g_Body-BG: @g_neutral-20;
@g_Body-Text: @g_neutral-190;
@g_NavBarMenu-FG: @g_neutral-190;
@g_Body-Title-FG: @g_neutral-190;
@g_Actions-Col-Text: @g_neutral-190;
@g_Region-Header-FG: @g_neutral-190;
@g_Region-FG: @g_neutral-190;
@g_Region-Header-BG: @g_neutral-0;
@g_Button-Text: @g_neutral-190;
@l_Button-Simple-Text: @g_neutral-190;
@g_Form-Item-FG: @g_neutral-190;
@g_Form-Item-BG: @white;
@g_Nav-BGX: desaturate(@g_Accent-BG, 85%);
@g_Nav-Active-FG: @g_neutral-10;
@g_Nav-FG: @g_neutral-10;
@g_Nav-BG: @g_neutral-180;
@g_Nav-Active-BG: @g_green-140;
@g_Nav-Accent-BG: @g_green-80;
@g_Nav-Accent-FG: @g_neutral-10;
@g_Nav-Badge-FG: @g_neutral-10;
@g_NavBarMenu-Active-FG: @g_neutral-10;
@g_NavBarMenu-Active-BG: @g_neutral-140;
@g_Header-FG: @white;
@g_Body-Title-BG: @g_neutral-10;
@g_Actions-Col-BG: @g_neutral-30;
@l_Left-Col-BG: @g_neutral-30;
@g_Button-BG: @g_neutral-10;
@l_Button-Hot-BG: @g_green-100;
@l_Button-Primary-BG: @g_neutral-160;
@l_Button-Danger-BG: @g_red-100;
@l_Button-Warning-BG: @g_orange-100;
@l_Button-Warning-Text: @white;
@l_Button-Success-BG: @g_green-100;
@g_Button-BorderRadius: 4px;
@g_Form-BorderRadius: 4px;
@g_Success-BG: @g_green-100;
@g_Danger-BG: @g_red-100;
@g_Warning-FG: @white;
@g_Warning-BG: @g_orange-100;
@g_Info-BG: @g_beige-100;
@g_Primary-BG: @g_neutral-100;
@g_Disabled-BG: fade(@g_neutral-100, .6);
@Head-Height: 56px;

@g_Color-Palette-1: @g_beige-100;
@g_Color-Palette-1-FG: @g_beige-0;
@g_Color-Palette-2: @g_green-70;
@g_Color-Palette-2-FG: @g_green-200;
@g_Color-Palette-3: @g_orange-60;
@g_Color-Palette-3-FG: @g_orange-0;
@g_Color-Palette-4: @g_plum-150;
@g_Color-Palette-4-FG: @g_plum-0;
@g_Color-Palette-5: @g_red-110;
@g_Color-Palette-5-FG: @g_red-0;
@g_Color-Palette-6: @g_rose-50;
@g_Color-Palette-6-FG: @g_rose-200;
@g_Color-Palette-7: @g_plum-110;
@g_Color-Palette-7-FG: @g_plum-0;
@g_Color-Palette-8: @g_sienna-50;
@g_Color-Palette-8-FG: @g_sienna-200;
@g_Color-Palette-9: @g_red-130;
@g_Color-Palette-9-FG: @g_red-0;
@g_Color-Palette-10: @g_slate-70;
@g_Color-Palette-10-FG: @g_slate-200;
@g_Color-Palette-11: @g_pine-100;
@g_Color-Palette-11-FG: @g_pine-0;
@g_Color-Palette-12: @g_orange-110;
@g_Color-Palette-12-FG: @g_orange-0;
@g_Color-Palette-13: @g_beige-50;
@g_Color-Palette-13-FG: @g_beige-200;
@g_Color-Palette-14: @g_slate-110;
@g_Color-Palette-14-FG: @g_slate-0;
@g_Color-Palette-15: @g_green-110;
@g_Color-Palette-15-FG: @g_green-0;
