/* Margins ========================================================================== */
/* Paddings ========================================================================== */
/* Directions ========================================================================== */
/* Floats ========================================================================== */
/* Text Alignment ========================================================================== */
/* Transforms ========================================================================== */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Faceted Search ========================================================================== */
.a-FS .a-FS-currentLabel { padding-left: 0; }

.u-RTL .a-FS .a-FS-currentLabel { padding-right: 0; padding-left: 4px; }

.a-FS-currentList ul:not(:empty) + .a-FS-totalArea, .a-FS-currentList .a-FS-totalArea + ul:not(:empty) { margin-top: 8px; }

.a-FS-totalArea { font-size: 18px; font-weight: 600; }

.a-FS .a-FS-totalArea { font-size: inherit; }

button.a-FS-clear { padding: 3px 6px; }

button.a-FS-clear .a-Icon.icon-multi-remove { margin-left: 4px; margin-right: -3px; }

.u-RTL button.a-FS-clear .a-Icon.icon-multi-remove { margin-right: 4px; margin-left: -3px; }
