@import "../vita/_variables";

@display-xxs: 480px;
@display-xss: 640px;
@display-xs: 768px;
@display-small: 992px;
@display-medium: 1200px;
@display-large: 1920px;

// Redwood Fonts
@g_FontFamily-base: ~ "'Oracle Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
@g_FontFamily-serif: ~ "Georgia, Times, 'Times New Roman', serif";
@g_FontFamily-mono: ~ "SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace";

// Redwood Light 1.0.1
@white: #fff;
@black: #000;

// Neutral
@g_neutral-0: @white;
@g_neutral-10: #FCFBFA;
@g_neutral-20: #F5F4F2;
@g_neutral-30: #F1EFED;
@g_neutral-40: #E3E1DE;
@g_neutral-50: #D3CFCB;
@g_neutral-60: #BBB6B2;
@g_neutral-70: #ADA8A4;
@g_neutral-80: #9D9893;
@g_neutral-90: #8A8580;
@g_neutral-100: #79736E;
@g_neutral-110: #6E6964;
@g_neutral-120: #655F5C;
@g_neutral-130: #5B5652;
@g_neutral-140: #504C47;
@g_neutral-150: #46423F;
@g_neutral-160: #3A3631;
@g_neutral-170: #312D2A;
@g_neutral-180: #201E1C;
@g_neutral-190: #161513;
@g_neutral-200: @black;

// Beige
@g_beige-0: @white;
@g_beige-10: #FBF9F3;
@g_beige-20: #F8F4EA;
@g_beige-30: #F4EFE1;
@g_beige-40: #E9E1CA;
@g_beige-50: #D8D0B5;
@g_beige-60: #C0B89D;
@g_beige-70: #B2AA91;
@g_beige-80: #A09984;
@g_beige-90: #8B8673;
@g_beige-100: #7A7464;
@g_beige-110: #6E6A5A;
@g_beige-120: #656151;
@g_beige-130: #5B5748;
@g_beige-140: #514D40;
@g_beige-150: #464237;
@g_beige-160: #3A372D;
@g_beige-170: #302E26;
@g_beige-180: #211F1B;
@g_beige-190: #171512;
@g_beige-200: @black;

// Forest Green
@g_forestgreen-0: @white;
@g_forestgreen-10: #F3FCF7;
@g_forestgreen-20: #E9F9EE;
@g_forestgreen-30: #E0F5E7;
@g_forestgreen-40: #CBE9D6;
@g_forestgreen-50: #B7D9C2;
@g_forestgreen-60: #99C2A6;
@g_forestgreen-70: #86B596;
@g_forestgreen-80: #74A683;
@g_forestgreen-90: #5C926D;
@g_forestgreen-100: #4C825C;
@g_forestgreen-110: #467553;
@g_forestgreen-120: #3F6B4B;
@g_forestgreen-130: #3A6145;
@g_forestgreen-140: #33553C;
@g_forestgreen-150: #2C4A35;
@g_forestgreen-160: #253D2C;
@g_forestgreen-170: #1E3224;
@g_forestgreen-180: #132318;
@g_forestgreen-190: #0D170F;
@g_forestgreen-200: @black;

// Green
@g_green-0: @white;
@g_green-10: #F7FCF3;
@g_green-20: #EDF8E6;
@g_green-30: #E5F4DC;
@g_green-40: #D0EAC1;
@g_green-50: #BDD9AE;
@g_green-60: #A3C194;
@g_green-70: #94B382;
@g_green-80: #82A372;
@g_green-90: #6F915D;
@g_green-100: #5F7D4F;
@g_green-110: #577346;
@g_green-120: #4F693F;
@g_green-130: #465F38;
@g_green-140: #3D5431;
@g_green-150: #35482A;
@g_green-160: #2B3A21;
@g_green-170: #25331D;
@g_green-180: #192315;
@g_green-190: #12170D;
@g_green-200: @black;

// Blue
@g_blue-0: @white;
@g_blue-10: #F5FBFB;
@g_blue-20: #E9F7F7;
@g_blue-30: #E2F3F3;
@g_blue-40: #D4E5EB;
@g_blue-50: #BFD3DC;
@g_blue-60: #A2BCC6;
@g_blue-70: #92AEB9;
@g_blue-80: #7D9FAA;
@g_blue-90: #698C99;
@g_blue-100: #587B86;
@g_blue-110: #4C707B;
@g_blue-120: #446672;
@g_blue-130: #3B5C69;
@g_blue-140: #32515E;
@g_blue-150: #2C4752;
@g_blue-160: #243A43;
@g_blue-170: #1E3138;
@g_blue-180: #142126;
@g_blue-190: #0D171A;
@g_blue-200: @black;

// Teal
@g_teal-0: @white;
@g_teal-10: #F8FAFA;
@g_teal-20: #F0F6F5;
@g_teal-30: #E8F1F0;
@g_teal-40: #D6E5E5;
@g_teal-50: #BCD5D5;
@g_teal-60: #9ABFBF;
@g_teal-70: #89B2B0;
@g_teal-80: #76A2A0;
@g_teal-90: #628F8D;
@g_teal-100: #4F7D7B;
@g_teal-110: #467173;
@g_teal-120: #3E686C;
@g_teal-130: #375D61;
@g_teal-140: #315357;
@g_teal-150: #2B484B;
@g_teal-160: #233B3F;
@g_teal-170: #1E3133;
@g_teal-180: #132123;
@g_teal-190: #0D1718;
@g_teal-200: @black;

// Slate
@g_slate-0: @white;
@g_slate-10: #F6FAFA;
@g_slate-20: #EDF6F6;
@g_slate-30: #E7F2F2;
@g_slate-40: #D7E5E5;
@g_slate-50: #C2D4D4;
@g_slate-60: #A9BBBC;
@g_slate-70: #99ADAE;
@g_slate-80: #8B9D9E;
@g_slate-90: #798B8A;
@g_slate-100: #697778;
@g_slate-110: #606C6D;
@g_slate-120: #586363;
@g_slate-130: #4F5A5A;
@g_slate-140: #464F4F;
@g_slate-150: #3C4545;
@g_slate-160: #323939;
@g_slate-170: #2A2F2F;
@g_slate-180: #1C2020;
@g_slate-190: #131515;
@g_slate-200: @black;

// Purple
@g_purple-0: @white;
@g_purple-10: #FCF8FF;
@g_purple-20: #F8F1FC;
@g_purple-30: #F5ECFB;
@g_purple-40: #EADDF4;
@g_purple-50: #DBC9E5;
@g_purple-60: #C4B0D1;
@g_purple-70: #B7A1C4;
@g_purple-80: #A890B6;
@g_purple-90: #957CA4;
@g_purple-100: #846A92;
@g_purple-110: #796087;
@g_purple-120: #6F577B;
@g_purple-130: #634E71;
@g_purple-140: #594564;
@g_purple-150: #4D3C57;
@g_purple-160: #3F3048;
@g_purple-170: #36293C;
@g_purple-180: #241B29;
@g_purple-190: #19131C;
@g_purple-200: @black;

// Mauve
@g_mauve-0: @white;
@g_mauve-10: #FDF8FA;
@g_mauve-20: #FAF2F4;
@g_mauve-30: #FBECEF;
@g_mauve-40: #F6DAE1;
@g_mauve-50: #EAC6CF;
@g_mauve-60: #D9ABB6;
@g_mauve-70: #CE9BA7;
@g_mauve-80: #C28897;
@g_mauve-90: #B47282;
@g_mauve-100: #A06270;
@g_mauve-110: #925865;
@g_mauve-120: #86505C;
@g_mauve-130: #7A4753;
@g_mauve-140: #6C3F49;
@g_mauve-150: #5F363F;
@g_mauve-160: #4F2B33;
@g_mauve-170: #41242B;
@g_mauve-180: #2D191D;
@g_mauve-190: #201214;
@g_mauve-200: @black;

// Red
@g_red-0: @white;
@g_red-10: #FEF8F7;
@g_red-20: #FDF2F0;
@g_red-30: #FCEBEA;
@g_red-40: #F9DBD5;
@g_red-50: #F2C5BD;
@g_red-60: #E8A79A;
@g_red-70: #E39584;
@g_red-80: #DC7E6C;
@g_red-90: #D4614C;
@g_red-100: #BC513E;
@g_red-110: #AB4A39;
@g_red-120: #9D4434;
@g_red-130: #8D3D2E;
@g_red-140: #7B372A;
@g_red-150: #6A2F24;
@g_red-160: #59271D;
@g_red-170: #4B2119;
@g_red-180: #341512;
@g_red-190: #240F0C;
@g_red-200: @black;

// Orange
@g_orange-0: @white;
@g_orange-10: #FEF9F2;
@g_orange-20: #FDF3E4;
@g_orange-30: #FCEDD9;
@g_orange-40: #F5DEBD;
@g_orange-50: #ECCB98;
@g_orange-60: #DEB068;
@g_orange-70: #D39F5D;
@g_orange-80: #C58C52;
@g_orange-90: #B67745;
@g_orange-100: #A7623A;
@g_orange-110: #9B5734;
@g_orange-120: #8D4F2E;
@g_orange-130: #7F482C;
@g_orange-140: #713F25;
@g_orange-150: #62371F;
@g_orange-160: #512C1B;
@g_orange-170: #442616;
@g_orange-180: #2F1A0F;
@g_orange-190: #20130A;
@g_orange-200: @black;

// Yellow
@g_yellow-0: @white;
@g_yellow-10: #FEF9E9;
@g_yellow-20: #FDF4DF;
@g_yellow-30: #FCEFCB;
@g_yellow-40: #F7E0A1;
@g_yellow-50: #F0CC71;
@g_yellow-60: #D5B364;
@g_yellow-70: #C7A55D;
@g_yellow-80: #B39554;
@g_yellow-90: #9D8249;
@g_yellow-100: #89723F;
@g_yellow-110: #7C6738;
@g_yellow-120: #715E34;
@g_yellow-130: #66552F;
@g_yellow-140: #5B4A29;
@g_yellow-150: #4F4224;
@g_yellow-160: #40361D;
@g_yellow-170: #372C18;
@g_yellow-180: #241E10;
@g_yellow-190: #18160A;
@g_yellow-200: @black;

// Orient
@g_orient-0: @white;
@g_orient-10: #f6fafc;
@g_orient-20: #edf6f9;
@g_orient-30: #e4f1f7;
@g_orient-40: #d0e5ee;
@g_orient-50: #b4d5e1;
@g_orient-60: #8fbfd0;
@g_orient-70: #79b1c6;
@g_orient-80: #5fa2ba;
@g_orient-90: #4190ac;
@g_orient-100: #227e9e;
@g_orient-110: #0e7295;
@g_orient-120: #00688c;
@g_orient-130: #025e7e;
@g_orient-140: #04536f;
@g_orient-150: #06485f;
@g_orient-160: #063c4e;
@g_orient-170: #053242;
@g_orient-180: #04232d;
@g_orient-190: #02181f;
@g_orient-200: @black;


// Light UI Colors
@g_oracle-red: #C74634;
@g_brand: @g_green-100;
@g_brand-fg: @g_green-0;
@g_brown: @g_neutral-170;
@g_brown-fg: @g_neutral-0;
@g_link: @g_beige-120;
@g_link-fg: @g_beige-0;

// Outline Styles
@g_OutlineWidth: 2px;
@g_OutlineStyle: dotted;
@g_OutlineOffset: 2px;
@g_OutlineColor: @g_green-100;

// Theme Roller Variables
@g_Container-BorderRadius: 6px;
@g_Accent-BG: @g_neutral-150;
@g_Accent-OG: @g_neutral-30;
@g_Link-Base: @g_blue-120;
@g_Focus: @g_green-100;
@g_Body-BG: @g_neutral-20;
@g_Body-Text: @g_neutral-190;
@g_NavBarMenu-FG: @g_neutral-190;
@g_Body-Title-FG: @g_neutral-190;
@g_Actions-Col-Text: @g_neutral-190;
@g_Region-Header-FG: @g_neutral-190;
@g_Region-FG: @g_neutral-190;
@g_Region-Header-BG: @g_neutral-0;
@g_Button-Text: @g_neutral-190;
@l_Button-Simple-Text: @g_neutral-190;
@g_Form-Item-FG: @g_neutral-190;
@g_Form-Item-BG: @white;
@g_Nav-BGX: desaturate(@g_Accent-BG, 85%);
@g_Nav-Active-FG: @g_neutral-10;
@g_Nav-FG: @g_neutral-10;
@g_Nav-BG: @g_neutral-180;
@g_Nav-Active-BG: @g_green-140;
@g_Nav-Accent-BG: @g_green-80;
@g_Nav-Accent-FG: @g_neutral-10;
@g_Nav-Badge-FG: @g_neutral-10;
@g_NavBarMenu-Active-FG: @g_neutral-10;
@g_NavBarMenu-Active-BG: @g_neutral-140;
@g_Header-FG: @white;
@g_Body-Title-BG: @g_neutral-10;
@g_Actions-Col-BG: @g_neutral-30;
@l_Left-Col-BG: @g_neutral-30;
@g_Button-BG: @g_neutral-10;
@l_Button-Hot-BG: @g_green-100;
@l_Button-Primary-BG: @g_neutral-160;
@l_Button-Danger-BG: @g_red-100;
@l_Button-Warning-BG: @g_orange-100;
@l_Button-Warning-Text: @white;
@l_Button-Success-BG: @g_green-100;
@g_Button-BorderRadius: 4px;
@g_Form-BorderRadius: 4px;
@g_Success-BG: @g_green-100;
@g_Danger-BG: @g_red-100;
@g_Warning-FG: @white;
@g_Warning-BG: @g_orange-100;
@g_Info-BG: @g_beige-100;
@g_Primary-BG: @g_neutral-100;
@g_Disabled-BG: fade(@g_neutral-100, .6);
@Head-Height: 56px;
@g_Color-Palette-1: @g_beige-100;
@g_Color-Palette-1-FG: @g_beige-0;
@g_Color-Palette-2: @g_green-70;
@g_Color-Palette-2-FG: @g_green-200;
@g_Color-Palette-3: @g_orange-60;
@g_Color-Palette-3-FG: @g_orange-0;
@g_Color-Palette-4: @g_purple-150;
@g_Color-Palette-4-FG: @g_purple-0;
@g_Color-Palette-5: @g_red-110;
@g_Color-Palette-5-FG: @g_red-0;
@g_Color-Palette-6: @g_mauve-50;
@g_Color-Palette-6-FG: @g_mauve-200;
@g_Color-Palette-7: @g_purple-110;
@g_Color-Palette-7-FG: @g_purple-0;
@g_Color-Palette-8: @g_yellow-50;
@g_Color-Palette-8-FG: @g_yellow-200;
@g_Color-Palette-9: @g_red-130;
@g_Color-Palette-9-FG: @g_red-0;
@g_Color-Palette-10: @g_slate-70;
@g_Color-Palette-10-FG: @g_slate-200;
@g_Color-Palette-11: @g_forestgreen-100;
@g_Color-Palette-11-FG: @g_forestgreen-0;
@g_Color-Palette-12: @g_orange-110;
@g_Color-Palette-12-FG: @g_orange-0;
@g_Color-Palette-13: @g_beige-50;
@g_Color-Palette-13-FG: @g_beige-200;
@g_Color-Palette-14: @g_slate-110;
@g_Color-Palette-14-FG: @g_slate-0;
@g_Color-Palette-15: @g_green-110;
@g_Color-Palette-15-FG: @g_green-0;
