@import "_variables";

/* Body Background -- Shadow
   ========================================================================== */
.t-ContentBlock--shadowBG .t-ContentBlock-body {
  background-color: @_base-alpha-2;
  border-color: @_base-alpha-4;
}

/* Body Background -- Light
   ========================================================================== */
.t-ContentBlock--lightBG .t-ContentBlock-body {
  border-color: @_base-alpha-4;
}
